@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
    padding-top: 51px; 
    padding-bottom: 82px;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

  /* Pages */
.page-header {
    color: #000000;
    background: #ffffff;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-logo{
    width: 140px;
    margin-right: 30px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 455px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.navigation-link { 
    display: block;
    padding: 28px 19px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url(../project/images/home_page/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 51px;
}

.welcome-description-sedona {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

.paragraph {
    margin-top: 145px;
    margin-bottom: 80px;
    color: #000000;
    background-color: #ffffff;
}

.welcome-description {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
}

.advantages-item {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 384px;
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
} 

.advantages-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: none;
}

.blue-block {
    box-sizing: border-box;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
}

.block-gray {
    box-sizing: border-box;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    text-align: center;
    background-color: rgba(131, 179, 211, 0.2); 
}

.image-bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.block-white {
    box-sizing: border-box;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
}

.block-light-blue {
    box-sizing: border-box;
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12); 
}

.search {
    margin-bottom: 93px; 
    text-align: center;
}

.search-heading {
    padding-top: 64px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search-description {
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 56px;
    text-align: center;
    font-size: 22px;
    line-height: 26px    
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    background-image: url(../project/images/home_page/background.jpg);
    height: 411px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 22px;
    line-height: 26px
}

.newsletter-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    padding-left: 360px;
    padding-right: 360px;
    color: #ffffff;
    text-transform: none;
}

.newsletter-button {
    line-height: 26px;
    background-color:rgba(131, 179, 211, 1);
}

.page-footer {
    display: flex; 
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.footer-contacts {
    margin-top: 0;
    margin-bottom: 30px;
    width: 720px;
    margin-right: 53px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 72px;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 20px;
    margin-right: 30px; 
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-logo {
    width: 115px;
    text-align: center;
    margin-right: 72px;
}

.contacts-phone {
    color: #000000;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

/* catalog */
.main-inner {
    color:#ffffff;
    background-color:  #ffffff;
    background-image: url(../project/images/catalog/catalog-background-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;  
}

.current {
    border-bottom: 2px solid #756257;
}

.inner-title {
    margin-top: 0;
    margin-bottom: 15px; 
    color:#ffffff;
    padding: 0 71px;
    font-size: 60px;
    line-height: 78x;
}

/* Breadcrumbs */
.breadcrumbs {
    margin-top: 0;
    margin-bottom: 71px;
    padding: 0 71px;
    color: #ffffff;
}

.breadcrumbs-link {
    margin: 0;
    padding: 0; 
}
  
  /* Link */
.breadcrumbs-link {
    color: inherit;
}

.catalog-filter {
    margin-top: 0;
    margin-bottom: 83px;
    display: flex;
    width: 1058px;
    padding: 0 71px;
    justify-content: space-between;
    align-items: center;
}

  /* Title */
.catalog-filter-title {    
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
}

  /* Label */
.control-label {
    font-weight: 700;
}

.button-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* reset */
.button-apply {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Light */
.button-reset {
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: capitalize;
}

.hotels-sorting {
    display: flex;
    align-items: center;
    color: #000000;
    background-color: #ffffff; 
}

.select-control {
    display: flex;
    width: 287px;
    height: 48px;
    margin-left: 192px;
}

.catalog-hotel {
    width: 1200px;
    padding: 40px;
    box-sizing: border-box;
}

.hotels  {
    margin-top: 53px;
    margin-bottom: 30px;
    color: #000000;
    background-color: #ffffff; 
}

.inner-header-title {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Item */
.product-card {
    background-color: #ffffff;
  }
  
  /* Link */
.product-card-link {
    text-decoration: none;
}
  
  /* Title */
.product-card-title {
    font-weight: 700;
    color: #000000;
}
  
  /* Type */
.product-card-type {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color:#333333;
    text-transform: capitalize;
}

.button-rating {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color:#333333;
    background-color:#F2F2F2;
    text-transform: uppercase;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 25px;
    color:#FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
}

/* Link */
.pagination {
    display: flex;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    background-color: #ffffff;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}
  
.pagination-link {
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
  
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.select-control-description {
    display: flex;
    margin-left: 301px;
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 23px;
}

.select-control-choose {
    display: flex;
    width: 160px;
    height: 48px;
    margin-right: 72px;
}

.newsletter-catalog {
    color:#000000;
    background-color:#ffffff;
    text-align: center;
    font-size: 22px;
    line-height: 26px
}

.newsletter-catalog-description {
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
}



