@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

  /* Pages */
.page-header {
    color: #000000;
    background: #ffffff;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-logo{
    width: 140px;
    margin-right: 30px;
}

.navigation-list {
    width: 455px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.navigation-link {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}    

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url(../project/images/home_page/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.welcome-logo {
    display: block;
    margin: 0 auto;
}

.welcome-description-sedona {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
}

.paragraph {
    color: #000000;
    background-color: #ffffff;
}

.welcome-description {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
    height: 384px;
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
} 

.advantages-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: none;
}
  
.blue-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
}

.block-gray {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    text-align: center;
    background-color: rgba(131, 179, 211, 0.2); 
}

.image-bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.block-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
}

.block-light-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12); 
}

.search-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search {
    text-align: center;
    font-size: 22px;
    line-height: 26px    
} 

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    background-image: url(../project/images/home_page/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 22px;
    line-height: 26px
}

.newsletter-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    color: #ffffff;
    background-color: #000000;
    text-transform: capitalize;
}

.newsletter-button {
    line-height: 26px;
    background-color:rgba(131, 179, 211, 1);
}

.page-footer-container {
    max-width: 1056px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.footer-contacts {
    width: 720px;
    margin-right: 53px;
    text-align: center;
}

.footer-logo {
    width: 115px;
    text-align: center;
}

.page-footer {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.contacts-phone {
    color: #000000;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

/* catalog */
.main-inner {
    color:#ffffff;
    background-color:  #ffffff;
    background-image: url(../project/images/catalog/catalog-background-1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;  
}

.inner-title {
    color:#ffffff;
    padding: 0 71px;
    font-size: 60px;
    line-height: 78x;
}

/* Breadcrumbs */
.breadcrumbs {
    padding: 0 71px;
    color: #ffffff;
}
  
  /* Link */
.breadcrumbs-link {
    color: inherit;
}

.catalog-filter {
    display: flex;
    width: 1058px;
    padding: 0 71px;
    justify-content: space-between;
    align-items: center;
}

  /* Title */
.catalog-filter-title {    
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
}
  
  /* Label */
.control-label {
    font-weight: 700;
}

.button-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* reset */
.button-apply {
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Light */
.button-reset {
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: capitalize;
}

.catalog-hotel {
    width: 1058px;
    text-align: center;

}

.hotels  {
    color: #000000;
    background-color: #ffffff;
    
}

.inner-header-title {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Item */
.product-card {
    background-color: #ffffff;
  }
  
  /* Link */
.product-card-link {
    text-decoration: none;
}
  
  /* Title */
.product-card-title {
    font-weight: 700;
    color: #000000;
}
  
  /* Type */
.product-card-type {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color:#333333;
    text-transform: capitalize;
}

.button-rating {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color:#333333;
    background-color:#F2F2F2;
    text-transform: uppercase;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 25px;
    color:#FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
}

/* Link */
.pagination {
    background-color: #ffffff;
}
  
.pagination-link {
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
  
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.newsletter-catalog {
    color:#000000;
    background-color:#ffffff;
    text-align: center;
    font-size: 22px;
    line-height: 26px
}

.newsletter-catalog-description {
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
}



